//paddings
.p-10 {
  padding: 10px !important;
}

.p-4 {
  padding: 4% !important;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.px-110 {
  padding-left: 110px;
  padding-right: 110px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
//margins

.m-10 {
  margin: 10px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

//line height

.lh_1 {
  line-height: 1;
}

.lh_2 {
  line-height: 2;
}

.lh_10 {
  line-height: 10;
}

.lh_35 {
  line-height: 35px;
}

.lh_40 {
  line-height: 40px;
}

//border-radius
.br-2 {
  border-radius: 2px;
}

.br-6 {
  border-radius: 6px;
}

.br-15 {
  border-radius: 15px;
}

// border
.no-border {
  border: 0;
}

.vh-100 {
  height: 100vh;
}

.h-100{
  height: 100px !important;
}

// widths
.w-420 {
  width: 420px;
}
